#accountInfo {
    background-color: lightgreen;
    margin-bottom: 8px;
}

#makeOffer {
    background-color: lightgreen;
    margin-bottom: 8px;
}

#otherOffers {
    background-color: lightgreen;
}
#offer {
    background-color: white;
    margin-top: 5px;
}